/*! skeleton-framework | 1.1.1 | MIT | 2/25/2017 */
/* Table of contents
- Base Styles
- Grid
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Base Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*BS ADDITION:  */ 
@-ms-viewport {
  width: device-width;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

html {
  font-family: sans-serif;
   line-height: 1.15;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: #4A79A5;
   text-align: left;
}

/*FOR LINKS*/
body a {
	color: #4A79A5; 
	text-decoration:none; 
	font: Arial, Helvetica, sans-serif; 
	font-weight: bold
}

/*FOR HOVERING OVER LINKS*/
body a:hover {
	color: #FFBA5A; 
	text-decoration:none; 
	font: Arial, Helvetica, sans-serif; 
	font-weight: bold;
}


/*added 2/23/18 to avoid blue line around image pretty obsolete- REMOVED TABLE FROM MARGIN BOTTOM 1 rem add to table css elsewhere*/
img {
	border: 0px;
}

a img {     
	border: 0; 
} 
textarea,
select,

pre,
blockquote,
dl,
figure,

p,
ul,
ol,
form {
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  font-size: 1em;
}
/* Grid 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*BS CONTAINER MEDIA  */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 



/*BS ADDITION CONTAINER MEDIA  */ 
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

.subcontainer {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
} 
@media (max-width: 576px) {
  .subcontainer {
    width: 100%;
  }
}

.subcontainer2 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
} 
@media (max-width: 768px) {
  .subcontainer2 {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .subcontainer2 {
    width: 100%;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.row::before,
.row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}
/*BS ADDITION row webkit and no gutters  */ 
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

[class*='column'] {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.xs-one[class*='column'] {
  width: 8.3333333333%;
}

.xs-two[class*='column'] {
  width: 16.6666666666%;
}

.xs-three[class*='column'],
.xs-one-quarter[class*='column'] {
  width: 24.9999999999%;
}

.xs-four[class*='column'],
.xs-one-third[class*='column'] {
  width: 33.3333333332%;
}

.xs-five[class*='column'] {
  width: 41.6666666665%;
}

.xs-six[class*='column'],
.xs-one-half[class*='column'] {
  width: 49.9999999998%;
}

.xs-seven[class*='column'] {
  width: 58.3333333331%;
}

.xs-eight[class*='column'],
.xs-two-thirds[class*='column'] {
  width: 66.6666666664%;
}

.xs-nine[class*='column'] {
  width: 74.9999999997%;
}

.xs-ten[class*='column'] {
  width: 83.333333333%;
}

.xs-eleven[class*='column'] {
  width: 91.6666666663%;
}

.xs-twelve[class*='column'] {
  width: 99.9999999996%;
}

[class*='xs-'][class*='column'] ~ [class*='xs-'][class*='column'] {
  margin-top: 0;
}

@media screen and (min-width: 560px) {
  [class*='column'] ~ [class*='column'] {
    margin-top: 0;
  }
  .one[class*='column'] {
    width: 8.3333333333%;
  }
  .two[class*='column'] {
    width: 16.6666666666%;
  }
  .three[class*='column'],
  .one-quarter[class*='column'] {
    width: 24.9999999999%;
  }
  .four[class*='column'],
  .one-third[class*='column'] {
    width: 33.3333333332%;
  }
  .five[class*='column'] {
    width: 41.6666666665%;
  }
  .six[class*='column'],
  .one-half[class*='column'] {
    width: 49.9999999998%;
  }
  .seven[class*='column'] {
    width: 58.3333333331%;
  }
  .eight[class*='column'],
  .two-thirds[class*='column'] {
    width: 66.6666666664%;
  }
  .nine[class*='column'] {
    width: 74.9999999997%;
  }
  .ten[class*='column'] {
    width: 83.333333333%;
  }
  .eleven[class*='column'] {
    width: 91.6666666663%;
  }
  .twelve[class*='column'] {
    width: 99.9999999996%;
  }
  .offset-by-one[class*='column'] {
    margin-left: 8.3333333333%;
  }
  .offset-by-two[class*='column'] {
    margin-left: 16.6666666666%;
  }
  .offset-by-three[class*='column'],
  .offset-by-one-quarter[class*='column'] {
    margin-left: 24.9999999999%;
  }
  .offset-by-four[class*='column'],
  .offset-by-one-third[class*='column'] {
    margin-left: 33.3333333332%;
  }
  .offset-by-five[class*='column'] {
    margin-left: 41.6666666665%;
  }
  .offset-by-six[class*='column'],
  .offset-by-one-half[class*='column'] {
    margin-left: 49.9999999998%;
  }
  .offset-by-seven[class*='column'] {
    margin-left: 58.3333333331%;
  }
  .offset-by-eight[class*='column'],
  .offset-by-two-thirds[class*='column'] {
    margin-left: 66.6666666664%;
  }
  .offset-by-nine[class*='column'] {
    margin-left: 74.9999999997%;
  }
  .offset-by-ten[class*='column'] {
    margin-left: 83.333333333%;
  }
  .offset-by-eleven[class*='column'] {
    margin-left: 91.6666666663%;
  }
  .sm-one[class*='column'] {
    width: 8.3333333333%;
  }
  .sm-two[class*='column'] {
    width: 16.6666666666%;
  }
  .sm-three[class*='column'],
  .sm-one-quarter[class*='column'] {
    width: 24.9999999999%;
  }
  .sm-four[class*='column'],
  .sm-one-third[class*='column'] {
    width: 33.3333333332%;
  }
  .sm-five[class*='column'] {
    width: 41.6666666665%;
  }
  .sm-six[class*='column'],
  .sm-one-half[class*='column'] {
    width: 49.9999999998%;
  }
  .sm-seven[class*='column'] {
    width: 58.3333333331%;
  }
  .sm-eight[class*='column'],
  .sm-two-thirds[class*='column'] {
    width: 66.6666666664%;
  }
  .sm-nine[class*='column'] {
    width: 74.9999999997%;
  }
  .sm-ten[class*='column'] {
    width: 83.333333333%;
  }
  .sm-eleven[class*='column'] {
    width: 91.6666666663%;
  }
  .sm-twelve[class*='column'] {
    width: 99.9999999996%;
  }
  .sm-offset-by-zero[class*='column'] {
    margin-left: 0;
  }
  .sm-offset-by-one[class*='column'] {
    margin-left: 8.3333333333%;
  }
  .sm-offset-by-two[class*='column'] {
    margin-left: 16.6666666666%;
  }
  .sm-offset-by-three[class*='column'],
  .sm-offset-by-one-quarter[class*='column'] {
    margin-left: 24.9999999999%;
  }
  .sm-offset-by-four[class*='column'],
  .sm-offset-by-one-third[class*='column'] {
    margin-left: 33.3333333332%;
  }
  .sm-offset-by-five[class*='column'] {
    margin-left: 41.6666666665%;
  }
  .sm-offset-by-six[class*='column'],
  .sm-offset-by-one-half[class*='column'] {
    margin-left: 49.9999999998%;
  }
  .sm-offset-by-seven[class*='column'] {
    margin-left: 58.3333333331%;
  }
  .sm-offset-by-eight[class*='column'],
  .sm-offset-by-two-thirds[class*='column'] {
    margin-left: 66.6666666664%;
  }
  .sm-offset-by-nine[class*='column'] {
    margin-left: 74.9999999997%;
  }
  .sm-offset-by-ten[class*='column'] {
    margin-left: 83.333333333%;
  }
  .sm-offset-by-eleven[class*='column'] {
    margin-left: 91.6666666663%;
  }
}

@media screen and (min-width: 720px) {
  .md-one[class*='column'] {
    width: 8.3333333333%;
  }
  .md-two[class*='column'] {
    width: 16.6666666666%;
  }
  .md-three[class*='column'],
  .md-one-quarter[class*='column'] {
    width: 24.9999999999%;
  }
  .md-four[class*='column'],
  .md-one-third[class*='column'] {
    width: 33.3333333332%;
  }
  .md-five[class*='column'] {
    width: 41.6666666665%;
  }
  .md-six[class*='column'],
  .md-one-half[class*='column'] {
    width: 49.9999999998%;
  }
  .md-seven[class*='column'] {
    width: 58.3333333331%;
  }
  .md-eight[class*='column'],
  .md-two-thirds[class*='column'] {
    width: 66.6666666664%;
  }
  .md-nine[class*='column'] {
    width: 74.9999999997%;
  }
  .md-ten[class*='column'] {
    width: 83.333333333%;
  }
  .md-eleven[class*='column'] {
    width: 91.6666666663%;
  }
  .md-twelve[class*='column'] {
    width: 99.9999999996%;
  }
  .md-offset-by-zero[class*='column'] {
    margin-left: 0;
  }
  .md-offset-by-one[class*='column'] {
    margin-left: 8.3333333333%;
  }
  .md-offset-by-two[class*='column'] {
    margin-left: 16.6666666666%;
  }
  .md-offset-by-three[class*='column'],
  .md-offset-by-one-quarter[class*='column'] {
    margin-left: 24.9999999999%;
  }
  .md-offset-by-four[class*='column'],
  .md-offset-by-one-third[class*='column'] {
    margin-left: 33.3333333332%;
  }
  .md-offset-by-five[class*='column'] {
    margin-left: 41.6666666665%;
  }
  .md-offset-by-six[class*='column'],
  .md-offset-by-one-half[class*='column'] {
    margin-left: 49.9999999998%;
  }
  .md-offset-by-seven[class*='column'] {
    margin-left: 58.3333333331%;
  }
  .md-offset-by-eight[class*='column'],
  .md-offset-by-two-thirds[class*='column'] {
    margin-left: 66.6666666664%;
  }
  .md-offset-by-nine[class*='column'] {
    margin-left: 74.9999999997%;
  }
  .md-offset-by-ten[class*='column'] {
    margin-left: 83.333333333%;
  }
  .md-offset-by-eleven[class*='column'] {
    margin-left: 91.6666666663%;
  }
}

@media screen and (min-width: 960px) {
  .lg-one[class*='column'] {
    width: 8.3333333333%;
  }
  .lg-two[class*='column'] {
    width: 16.6666666666%;
  }
  .lg-three[class*='column'],
  .lg-one-quarter[class*='column'] {
    width: 24.9999999999%;
  }
  .lg-four[class*='column'],
  .lg-one-third[class*='column'] {
    width: 33.3333333332%;
  }
  .lg-five[class*='column'] {
    width: 41.6666666665%;
  }
  .lg-six[class*='column'],
  .lg-one-half[class*='column'] {
    width: 49.9999999998%;
  }
  .lg-seven[class*='column'] {
    width: 58.3333333331%;
  }
  .lg-eight[class*='column'],
  .lg-two-thirds[class*='column'] {
    width: 66.6666666664%;
  }
  .lg-nine[class*='column'] {
    width: 74.9999999997%;
  }
  .lg-ten[class*='column'] {
    width: 83.333333333%;
  }
  .lg-eleven[class*='column'] {
    width: 91.6666666663%;
  }
  .lg-twelve[class*='column'] {
    width: 99.9999999996%;
  }
  .lg-offset-by-zero[class*='column'] {
    margin-left: 0;
  }
  .lg-offset-by-one[class*='column'] {
    margin-left: 8.3333333333%
  }
  .lg-offset-by-two[class*='column'] {
    margin-left: 16.6666666666%
  }
  .lg-offset-by-three[class*='column'],
  .lg-offset-by-one-quarter[class*='column'] {
    margin-left: 24.9999999999%;
  }
  .lg-offset-by-four[class*='column'],
  .lg-offset-by-one-third[class*='column'] {
    margin-left: 33.3333333332%;
  }
  .lg-offset-by-five[class*='column'] {
    margin-left: 41.6666666665%;
  }
  .lg-offset-by-six[class*='column'],
  .lg-offset-by-one-half[class*='column'] {
    margin-left: 49.9999999998%;
  }
  .lg-offset-by-seven[class*='column'] {
    margin-left: 58.3333333331%;
  }
  .lg-offset-by-eight[class*='column'],
  .lg-offset-by-two-thirds[class*='column'] {
    margin-left: 66.6666666664%;
  }
  .lg-offset-by-nine[class*='column'] {
    margin-left: 74.9999999997%;
  }
  .lg-offset-by-ten[class*='column'] {
    margin-left: 83.333333333%;
  }
  .lg-offset-by-eleven[class*='column'] {
    margin-left: 91.6666666663%;
  }
}


/* HEADINGS Typography changed to bs    
–––––––––––––––––––––––––––––––––––––––––––––––––– */



h1,
h2,
h3 {
  margin-top: 1rem;
}

h4,
h5,
h6
 {
  margin-top: .5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}


}

/* Larger than phablet */

@media (min-width: 560px) {
 h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Links 


}



/* LISTS  -I ADDED UL LIST-STYLE NONE WAS CIRCLE INSIDE - ADDED TO VO STYLE DELETE LATER*/
ul {
  list-style circle: filled circle outside;
  list-style: none;
}

ol {
  list-style: decimal outside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

.list-inline > li {
  display: inline-block;
  padding-right: .2rem;
  padding-left: .2rem;
  margin-bottom: .5rem;
}

/* Cards DON'T USE THIS TIME DELETE LATER*/

.card {
  border: 1px solid #E1E1E1;
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #E1E1E1;
  min-height: 160px;
  margin-bottom: 1rem;
}


.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
	margin-bottom: 1.2rem;
	text-align: center;
}



code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  overflow-x: auto;
}

@media (max-width: 560px) {
  pre > code {
    white-space: nowrap;
  }
}





button,
.button {
  margin-bottom: 1rem;
}





/* Utility Classes */

/* Make element full width */
.u-full-width {
  width: 100%;
}

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
  max-width: 100%;
}

/* Float either direction */
.u-pull-right {
  float: right;
 }
 
.u-pull-left {
  float: left; 
 }

/* Clear a float */
.u-cf {
  content: "";
  display: table;
  clear: both; 
 }

/* Positioning */

.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Note:
 *
 * Nest this class inside something with `position: relative` to have
 * your element centered relative to its containing element.
 *
 * Use this class without nesting it to have your element centered relative
 * to the viewport.
 */

.u-center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

/* Type */

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* Peek a boo */

.u-hide {
  display: none !important;
}

.u-show {
  display: block !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-visible {
  visibility: visible !important;
}

/* Misc */

.u-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Misc */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/* Clearing */

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*****
* Media Queries
*
* Note: The best way to structure the use of media queries is to create the
* queries near the relevant code. For example, if you wanted to change the
* styles for buttons on small devices, paste the mobile query code up in the
* buttons section and style it there.
*****/

@media (min-width: 400px) {
  /* Larger than mobile */
}

@media (min-width: 560px) {
  /* Larger than phablet (also point when grid becomes active) */
}

@media (min-width: 720px) {
  /* Larger than tablet */
}

@media (min-width: 960px) {
  /* Larger than desktop */
}

@media (min-width: 1200px) {
  /* Larger than Desktop HD */
}
