@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  src: local('Yesteryear'), local('Yesteryear-Regular'), url(https://fonts.gstatic.com/s/yesteryear/v6/dg4g_p78rroaKl8kRKo1n7sNSA.woff) format('woff');
}
